.form {
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(36, 83, 122, 0.792);
}

.container {
  width: 500px;
  margin: 0 auto;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  font-size: 24px;
}

.label__title {
  margin-right: 25px;
}

.input {
  width: 400px;
  height: 40px;
  font-size: 24px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
}
.button:hover ,.button:focus {
  background-color: green;
}