.list {
  text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
  }
  
  .list__item {
    display: flex;
    align-items: center;
  }
  
  .text {
    margin: 0;
    padding: 10px;
    flex-basis: calc(100% / 3);
  }

  .button{
    font-weight: 500;
    font-size: 18px;
    width: 70px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    color: white;
    background-color: rgb(113, 169, 176);
    padding:5px;
    border-radius: 10px;
    border: none;
  }
  .button:hover, .button:focus{
    background-color: red;
  }