.list {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list__item {
    display: flex;
    align-items: center;
  }
  
  .text {
    margin: 0;
    padding: 10px;
    color: #030305 ; 
    flex-basis: calc(100% / 3);
  }
  .number{
    margin: 0;
    padding: 10px;
    color: #FA3C0A;
    flex-basis: calc(100% / 3);
  }

  .button{
    font-weight: 500;
    font-size: 18px;
    width: 70px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    padding:5px;
    border-radius: 10px;
    border: none;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .button:hover, .button:focus{
    color: #FA3C0A;
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }